<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0" >

    <name>Buzz-dev</name>

    <description>
        Buzz-dev (phonegap) configuration. 
    </description>

    <author>
        Michał Szymczuk 
    </author>
    
    <!-- Plugins -->
    <gap:plugin name="com.phonegap.plugins.pushplugin" version="2.1.1" />
</widget>